body {
    background-color: #f8f9fa;
    color: #5a5a5a;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #d63384;
}

.hero {
    background: url('https://media.cntraveller.com/photos/6343df288d5d266e2e66f082/16:9/w_2560%2Cc_limit/tokyoGettyImages-1031467664.jpeg') no-repeat center center;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.hero-overlay {
    background-color: rgba(255,192,203,0.7);
    padding: 60px;
    border-radius: 10px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card {
    background-color: #fff;
    border: 1px solid #f8d7da;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-in-out;
}

.animate-on-scroll.animate-in {
    opacity: 1;
    transform: translateY(0);
}

.footer {
    padding: 40px 0;
    background-color: #f8f9fa;
    color: #5a5a5a;
    border-top: 2px solid #d63384;
    text-align: center;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-item {
    position: relative;
    overflow: hidden;
}
.carousel-item::after {
    content: "";
    position: absolute;
    bottom: 0; left: 0; right: 0; top: 0;
    background: linear-gradient(to top, rgba(255,192,203,1) 0%, rgba(255,192,203,0) 50%);
    z-index: 1;
}

.carousel-caption {
    z-index: 2; 
    color: #d63384; 
    text-shadow: 0 1px 2px rgba(0,0,0,0.7); 
}

.hero {
    position: relative;
    height: 100vh; /* Висота на всю сторінку */
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Темний прозорий фон */
    backdrop-filter: blur(10px); /* Ефект розмиття */
    padding: 2rem;
    border-radius: 15px;
    display: inline-block;
}